@use "../variables" as *;

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --academy-color-percentage {
  syntax: "<percentage>";
  initial-value: 150%;
  inherits: false;
}

.certification-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: .5rem;
  background: var(--app-background);
  width: fit-content;

  &:nth-child(even) {
    align-self: flex-end;
  }

  .image-container {
    display: grid;
    place-content: center;
    width: 37rem;
    aspect-ratio: 10/9;
    flex: none;
    border-radius: .5rem;
    animation: gradient-animations 3s linear infinite;
    background-image: conic-gradient( 
      from var(--gradient-angle),
      rgb(3, 154, 255),
      rgba(152,70,242,1),
      rgba(152,70,242,1),
      rgb(3, 154, 255)
    );

    .certification-image{
      height: fit-content;
      width: 100%;
    }
  }

  .academy {
    margin-top: 1.5rem;
    width: fit-content;
    position: relative;
    isolation: isolate;

    animation: academy-title-animation 10s linear infinite;
    background: linear-gradient(
      -45deg,
      var(--primary-text-color), var(--academy-color-percentage),
      rgb(3, 154, 255), calc(var(--academy-color-percentage) + 15%),
      rgba(152,70,242,1), calc(var(--academy-color-percentage) + 30%),
      var(--primary-text-color)
    );
    background-clip: text;
    color: transparent;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes gradient-animations {
  0% { --gradient-angle: 0deg }
  100% { --gradient-angle: 360deg }
}

@keyframes academy-title-animation {
  0% { --academy-color-percentage: 150% }
  20%, 100% { --academy-color-percentage: -50% }
}