
@use "variables" as *;

@use "home-page";
@use "studies";
@use "projects";
@use "navbar";
@use "footer";


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --_scrollbar-track-background: var(--app-background);
  --_scrollbar-thumb-background: var(--primary-text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--primary-text-color);
  isolation: isolate;
  overflow-y: scroll;

  @media (width <= $mobile-width) {
    overflow-x: hidden;
  }
  
  &::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;

    background: var(--app-background);
    background-image: var(--app-background-gradient);
    background-blend-mode: multiply;
    background-position: fixed;
    z-index: -1;
  }
  
  &::-webkit-scrollbar {
    width: var(--spacer-1);
    background: var(--_scrollbar-track-background);
    opacity: .5;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--_scrollbar-thumb-background);
    border-radius: 50vh;
   }
}

.home-page {
  --_spacing-section-unit: 15rem;
  --_page-content-width: calc(100% - (var(--spacer-5) / 2));
  @media (width >= $mobile-width) {
    --_page-content-width: min(calc(100% - var(--spacer-5)), var(--app-max-width));
  }

  display: flex;
  flex-direction: column;
  gap: var(--_spacing-section-unit);
  padding-bottom: var(--_spacing-section-unit);
  // border-inline: 2px solid #ccc;
  min-height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
  width: var(--_page-content-width);
}