
@use "variables" as *;

@use "home-page";
@use "navbar";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200vh;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  isolation: isolate;
  overflow-y: scroll;
  
  &::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;

    background: var(--app-background);
    background-image: var(--app-background-gradient);
    background-blend-mode: multiply;
    background-position: fixed;
    z-index: -1;
  }
  
  &::-webkit-scrollbar {
    width: var(--spacer-1);
    background: var(--app-background);
    opacity: .5;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--app-background);
   }
}