
@use "variables" as *;
@use "home-page/home-page.scss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  
  background: var(--app-background);
  background-image: var(--app-background-gradient);
  background-blend-mode: multiply;
  
  @media (min-width: $mobile) {
    & {
      padding: 0 2.5rem;
    }
  }
}