
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merienda&family=Poppins:wght@300&display=swap');

:root {
    --app-background: hsl(220, 31%, 12%);
    --app-background-gradient: linear-gradient(
        45deg, hsl(300, 100%, 25%), 55%, hsl(240, 100%, 50%)
    );

    --primary-text-color: hsl(0, 0%, 80%);
    --white-color: hsl(0 0% 100%);
    --black-color: hsl(0 0% 0%);

    --fantacy-font: 'Merienda', cursive;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Lora', serif;
    --monospace-font: 'Source Code Pro', monospace;

    --navbar-height: 4rem;
    --app-max-width: 75rem;

    --spacer-1: .5rem;
    --spacer-2: 1rem;
    --spacer-3: 1.5rem;
    --spacer-4: 2rem;
    --spacer-5: 2.5rem;

    --cursor-y: 50%;
    --cursor-x: 50%;
}

$mobile-width: 800px;
$tablet-width: 1130px;