
@use "../variables" as *;

.navbar {
    --_nav-spacer: var(--spacer-2);
    --_nav_transition-duration: 400ms;
    --_nav-transition-timming: ease;
    --_nav-background: rgb(4,0,33);
    --_nav-background-ligth: #ccc5;
    --_nav-gradient-background: linear-gradient(45deg, blue, purple);


    height: var(--navbar-height);
    display: flex;
    width: min(calc(100% - var(--spacer-5)), var(--app-max-width));

    @media ($mobile-width >= width) {
        width: min(calc(100% - var(--spacer-5)), var(--app-max-width));
    }

    .navbar-links {
        display: flex;
        gap: calc(var(--_nav-spacer) * 1.5); 
        list-style: none;
        align-items: center;
        margin-left: auto;

        .navbar-link {
            position: relative;
            text-decoration: none;
            color: inherit;
            height: calc(var(--navbar-height) / 1.3);
            isolation: isolate;
            border-radius: .175rem;
            overflow: hidden;

            &::before, &::after {
                content: "";
                position: absolute;
                z-index: -1;
                border-radius: inherit;
            }

            &::before {
                inset: 0;
                background: var(--_nav-gradient-background);
                opacity: .3;
            }

            &::after {
                inset: .125rem;
                background: var(--_nav-background);
                transition: opacity var(--_nav_transition-duration) var(--_nav-transition-timming);
            }

            &.selected::before {
                opacity: 1;
                margin: auto;

                @media(width >= $tablet-width) {
                    animation: 
                        btn-selected 
                        calc(var(--_nav_transition-duration) * 2)
                        linear;

                    @keyframes btn-selected {
                        0% { 
                            inset: 0; 
                            opacity: 1; 
                            width: 120%;
                            margin: auto;
                            aspect-ratio: 1 / 1;
                            transform: rotate(0deg);
                        }
                        100% { 
                            inset: -5rem; 
                            opacity: 1;
                            width: 120%;
                            margin: auto;
                            aspect-ratio: 1 / 1; 
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            @media(width >= $tablet-width) {
                &:not(.selected):hover::after {
                    opacity: .5;
                }
            }

            [link-attribute] {
                display: grid;
                place-items: center;

                text-decoration: none;
                color: inherit;
                height: 100%;
                width: 100%;
                padding: 0 var(--_nav-spacer);
            }
        }
    }
}

.get-up-btn-section {
    position: fixed;
    bottom: 0;
    width: min(calc(100% - var(--spacer-5)), var(--app-max-width));
    outline: 1px solid lime;
    z-index: -1;

    display: flex;
    justify-content: flex-end;


    .get-up-btn {
        z-index: 2000;
    }
}