
@use "../variables" as *;

.contact-form-container {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;

  .contact-form-message {
    font-size: 3.5rem;
    padding-block: 1px;
    
    .gradient-text {
      position: relative;
      isolation: isolate;

      background: var(--app-background-gradient);
      background-clip: text;
      color: transparent;

      &::before {
        content: "";
        position: absolute;
        inset: 1rem; 
        background: var(--app-background-gradient);
        filter: blur(3.5rem);
      }
    }
  }

  .form-container {
    --_border-unit: 1rem;
  
    position: relative;
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    width: 90%;
    background: var(--app-background);
    border-radius: var(--_border-unit);
  
    .contact-form {
      --_error-color: hsl(7, 97%, 30%);
      height: 30rem;
  
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 5rem 2rem 5rem;
  
      & > *:not(.contact-form__success, .contact-form__error) {
        border-radius: .5rem;
        box-shadow: 5px 5px 15px #0008;
        border: none;
        outline: none;
        background: rgb(0, 1, 17);
        color: var(--primary-text-color);
        font-weight: bold;
        padding-inline: 1.5rem;
      }
  
      &__name,
      &__email,
      &__organisation,
      &__message {
        height: 2.5rem;

        &.error {
          outline: 1px solid var(--_error-color);
          animation: error-animation 250ms linear;

          @keyframes error-animation {
            0%, 100% { transform: translateX(0); }
            25% { transform: translateX(-2rem); }
            75% { transform: translateX(2rem); }
          }
        }
      }
  
      &__message {
        resize: none;
        flex-grow: 1;
        padding: 1.5rem;

        &::-webkit-scrollbar {
          width: 0;
        }
      }

      &__success {
        color: rgb(3, 173, 3);
        font-weight: bold;
      }

      &__error {
        color: var(--_error-color);
        font-weight: bold;
      }
    }
  
    .images-container {
      isolation: isolate;
      position: relative;

      display: grid;
      align-content: space-between;
      justify-content: center;
      padding: 5rem 0 2rem 0;
      
      .form-image {
        &.one {
          --_translate-y: 5rem;
          --_translate-x: 2rem;
          --_clip-path: polygon(0% 0%, 35% 0%, 90% 100%, 15% 100%);
        }

        &.two {
          --_translate-y: -5rem;
          --_translate-x: -2rem;
          --_clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 90% 100%);
        }
        z-index: -2;
        clip-path: var(--_clip-path);

        position: absolute;
        inset: 0 0 0 auto;
        margin: auto;
        filter: brightness(.7);

        width: 115%;
        height: 35.5rem;
        object-fit: cover;
        border-radius: 0 var(--_border-unit) var(--_border-unit) 0;

        // Low browser support 66% (18-12-2023)
        // -------------------------------------------
        view-timeline-name: --form-img-animation;
        view-timeline-axis: block;
        animation-timeline: --form-img-animation;
        animation-range: entry 25% cover 50%;
        animation-name: form-img-animation;
        animation-fill-mode: both;
        // -------------------------------------------

        @keyframes form-img-animation {
          0% { 
            transform: translateY(var(--_translate-y)) translateX(var(--_translate-x));
          }
          100% {
            transform: translateY(0) translateX(0);
          }
        }
      }
    
      .text {
        width: min-content;
        height: fit-content;
        font-size: 3.5rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        mix-blend-mode: color-dodge;
        color: #858484;
      }

      .contact-btn {
        --_skew-degree: 15deg;
        --_transition-duration: 500ms;

        display: flex;
        align-items: center;
        justify-content: center;
        
        isolation: isolate;
        position: relative;
        height: 2.5rem;
        width: 8rem;
        padding: .5rem 2rem;
        border: none;
        cursor: pointer;
        margin-inline: auto;
        color: #fff;
        margin-inline: auto;
        letter-spacing: .25rem;
        border-radius: .5rem;
        background: transparent;

        transition:
          height var(--_transition-duration) ease,
          width var(--_transition-duration) ease;

        &:hover::before { opacity: 1; }
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          transform: skew(var(--_skew-degree));
          border-radius: .45rem;
          background: linear-gradient(
            45deg, hsl(300, 79%, 34%), 
            55%, hsl(240, 93%, 56%)
          );
          z-index: -1;
          opacity: .7;
          transition: opacity 350ms ease;
        }
  
        /* -----------------
         * Loading animation
        */
        &[btn-loading-state=LOADING] {
          --_loading-size: 7rem;
          --_skew-unit: 0deg;
          --_animation-duration: 4s;
          
          pointer-events: none;
          height: var(--_loading-size);
          width: var(--_loading-size);
          background: transparent;
  
          &::before {
            --_skew-unit: calc(var(--_skew-degree) * -1);
  
            opacity: .5;
            transform: skew(var(--_skew-unit));
            background: linear-gradient(
              45deg, hsl(300, 79%, 34%), 
              55%, hsl(240, 93%, 56%)
            );
  
            animation: form-loading var(--_animation-duration) linear infinite;
            animation-delay: var(--_transition-duration);
          }   
          
          &::after {
            --_skew-unit: var(--_skew-degree);
  
            content: "";
            position: absolute;
            inset: 0;
            opacity: .4;
            border-radius: inherit;
            transform: skew(var(--_skew-unit));
            z-index: -1;
            background: linear-gradient(
              45deg, hsl(300, 100%, 25%), 
              55%, hsl(240, 100%, 50%)
            );
  
            animation: form-loading var(--_animation-duration) linear infinite;
            animation-delay: var(--_transition-duration);
            animation-direction: reverse;
          }
          
          .form-btn-text {
            z-index: 10;
          }
  
          @keyframes form-loading {
            0% {
              transform: rotate(0deg) skew(var(--_skew-unit));
            }
            50% {
              transform: rotate(180deg) skew(var(--_skew-unit));
            }
            100% {
              transform: rotate(360deg) skew(var(--_skew-unit));
            }
          }
        }
      }
    }
  }
}
