 
@use "../variables" as *;

.profile-picture {
    --_picture-hieght: 25rem;
    * { user-select: none; }

    aspect-ratio: 1 / 1;
    overflow: clip;
    position: relative;
    border-radius: 5rem 25rem 5rem 8rem;

    animation: background-animation 20s linear infinite;

    @media (min-width: $mobile-width) {
        height: calc(var(--_picture-hieght) * 1.2);
        width: var(--_picture-hieght);
    }

    .gradient-background {
        position: absolute;
        inset: auto 0 0 0;
        background: linear-gradient(45deg, blue, purple);
        aspect-ratio: 1 / 1;
        border-radius: 5rem 25rem 5rem 8rem;
        opacity: .5;

        @media (width >= $mobile-width) {
            height: var(--_picture-hieght);
            animation: background-animation 20s linear infinite;
        }
    }

    .picture {
        position: absolute;
        inset: auto 0 0 0;
        margin: auto;
        height: calc(var(--_picture-hieght) * 1.2);
        width: fit-content;
        object-fit: cover;
        filter: brightness(.7) contrast(1.2);
    }
}

@keyframes background-animation {
    0%, 27.5%, 100%{
        border-radius: 5rem 25rem 5rem 8rem;
    }
    33%, 60.5% {
        border-radius: 2rem;
    }
    66%, 93.5% {
        border-radius: 15rem;
    }
}