 
@use "../variables" as *;

.profile-picture {
    --_picture-size: 25rem;
    * { user-select: none; }

    aspect-ratio: 1 / 1;
    overflow: clip;
    position: relative;
    border-radius: 2rem;
    margin-block: auto;    

    animation: background-animation 20s linear infinite;

    @media (min-width: $mobile-width) {
        height: var(--_picture-size);
        width: var(--_picture-size);
    }

    .gradient-background {
        position: absolute;
        inset: auto 0 0 0;
        background: linear-gradient(45deg, blue, purple);
        aspect-ratio: 1 / 1;
        border-radius: 2rem;
        opacity: .7;

        @media (width >= $mobile-width) {
            height: var(--_picture-size);
            animation: background-animation 20s linear infinite;
        }
    }

    .picture {
        position: absolute;
        inset: auto 0 0 0;
        margin: auto;
        height: fit-content;
        width: var(--_picture-size);
        object-fit: cover;
        filter: brightness(.5) contrast(1.1);
        // mix-blend-mode: hard-light;
    }
}

@keyframes background-animation {
    0%, 40%, 100%{
        border-radius: 2rem;
    }
    50%, 90% {
        border-radius: 15rem;
    }
}