
@use "../variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.profetion-text-container {
    height: 2.5rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.profetion {

    --_word-background: radial-gradient( 
        circle farthest-corner at 12.3% 19.3%,  hsl(240, 100%, 50%) 0%, hsl(300, 100%, 25%) 100.2% )
    ;
    --_name-animation-delay: 500ms;
    --_typing-animation-delay: calc(
        var(--_name-animation-delay) + var(--_word-delay, 0ms)
    );

    &.front-end{
        --_animation-duration: 3000ms;
        --_animation-steps: 9;
        --_word-length: 10.8rem;
           
        @media (max-width: $tablet-width) {
            --_word-length: 8.5rem;
        }
    }

    &.back-end {
        --_animation-duration: 2600ms;
        --_animation-steps: 8;
        --_word-length: 9.5rem;
        --_word-delay: 3000ms;

        @media (max-width: $tablet-width) {
            --_word-length: 7.7rem;
        }
    }

    &.software-development {
        --_animation-duration: 1800ms;
        --_animation-steps: 18;
        --_word-length: 21.6rem;
        --_word-delay: 5600ms;

        @media (max-width: $tablet-width) {
            --_word-length: 17.25rem;
        }

        animation: 
            last-child-typing 
            var(--_animation-duration) 
            var(--_typing-animation-delay)
            steps(var(--_animation-steps)) 
            forwards;
    }

    position: absolute;
    height: 2rem;
    font-size: 1.6rem;
    width: 0;
    overflow: hidden;

    animation: 
       typing 
       var(--_animation-duration) 
       var(--_typing-animation-delay)
       steps(var(--_animation-steps));
    
    @media (min-width: $mobile-width) {
        --_text-width: 21.5rem;
        height: 2.5rem;
        font-size: 2rem;
    }

    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
        --_text-width: 17.25rem;
        height: 2rem;
        font-size: 1.6rem;
    }

    &::before {
        content: attr(word-text); 
        position: absolute;
        left: 0;
        width: max-content;

        background: var(--_word-background);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0 0 0 auto;
        margin: auto;
        height: 80%;
        width: .08rem;
        background: var(--primary-text-color);

        animation: 
            typing-pointer 
            calc(var(--_animation-duration) + 1000ms)
            var(--_typing-animation-delay)
            steps(var(--_animation-steps)) 
            forwards;

        @keyframes typing-pointer {
            0% { transform: scaleY(1);}
            85% { transform: scaleY(1);}
            90% { transform: scaleY(0);}
            95% { transform: scaleY(1);}
            100% { transform: scaleY(0);}
        }
    }

    @keyframes typing {
        0% { width: 0; }
        30%, 70% { width: var(--_word-length); }
        100% { width: 0; }
    }

    @keyframes last-child-typing {
        0% { width: 0; }
        100% { width: var(--_word-length); }
    }
}