
@use "../variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.profetion-text-container {
    height: 2.5rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.profetion {

    --_word-background: radial-gradient( 
        circle farthest-corner at 12.3% 19.3%,  hsl(240, 100%, 50%) 0%, hsl(300, 100%, 25%) 100.2% )
    ;

    &.software-development {
        --_animation-steps: 21;
        --_word-length: 25.175rem;

        @media (max-width: $tablet-width) {
            --_word-length: 17.25rem;
        }

        animation: 
            typing-animation
            var(--_typing-animation-duration) 
            var(--_typing-animation-delay, 0s)
            steps(var(--_animation-steps)) 
            forwards;

        @keyframes typing-animation {
            0% { width: 0; }
            100% { width: var(--_word-length); }
        }
    }

    position: absolute;
    height: 2rem;
    font-size: 1.6rem;
    width: 0;
    overflow: hidden;
    
    @media (min-width: $mobile-width) {
        --_text-width: 21.5rem;
        height: 2.5rem;
        font-size: 2rem;
    }

    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
        --_text-width: 17.25rem;
        height: 2rem;
        font-size: 1.6rem;
    }

    &::before {
        content: attr(typing-text); 
        position: absolute;
        left: 0;
        width: max-content;

        background: var(--_word-background);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0 0 0 auto;
        margin: auto;
        height: 80%;
        width: .08rem;
        background: var(--primary-text-color);

        animation: 
            typing-pointer 
            calc(var(--_typing-animation-duration) + (var(--_typing-animation-duration) / 2))
            var(--_typing-animation-delay, 0s)
            steps(var(--_animation-steps)) 
            forwards;

        @keyframes typing-pointer {
            0% { transform: scaleY(1);}
            85% { transform: scaleY(1);}
            90% { transform: scaleY(0);}
            95% { transform: scaleY(1);}
            100% { transform: scaleY(0);}
        }
    }
}