
@use "../variables" as *;
@use "work-experience-card";

.work-experience {
  --_card-padding-left: 3.5rem;

  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  min-height: 30rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: .125rem;
    transform: translateX(-50%);
    background: linear-gradient(
      hsl(300, 100%, 25%),
      hsl(240, 100%, 50%)
    )
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: var(--_card-padding-left);
    width: 35rem;
  }

  .work-experience-title {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: min-content;
    text-align: start;
    font-size: 3.5rem;

    span {
      position: relative;
      isolation: isolate;
      background: var(--app-background-gradient);
      background-clip: text;
      color: transparent;
      width: fit-content;

      &::before {
        content: "";
        position: absolute;
        inset: 1.2rem;
        background: var(--app-background-gradient);
        filter: blur(3.5rem);
      }
    }
  }
}