
@use "../../variables" as *;
@use "grid-card";

.table-of-content {
    position: relative;
    padding: calc(var(--spacer-5) * 4) 0 ;
    margin-block: 15rem;

    @media (width >= $mobile-width) {

        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
        perspective: 1000px;
        perspective-origin: right;
        & * { transform-style: preserve-3d }
    }

    &__grid-content {

        position: absolute;
        inset: 0 0 0 auto;
        margin: auto;

        display: grid;
        background: var(--app-background);
        border-radius: .5rem;

        @media (width <= $mobile-width) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "cell-one     cell-one"
            "cell-two     cell-two"
            "cell-three cell-three"
            ;
            gap: 1rem;
        }
        
        @media (width >= $mobile-width) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(9, 1fr);
            grid-template-areas: 
            "cell-one cell-one      cell-two"
            "cell-one cell-one      cell-two"
            "cell-one cell-one      cell-two"
            "cell-one cell-one      cell-two"
            "cell-one cell-one      cell-two"
            "cell-three  cell-four cell-four"
            "cell-three  cell-four cell-four"
            "cell-three  cell-four cell-four"
            "cell-three  cell-four cell-four"
            ;
            padding: 1.5rem;
            gap: 1rem;

            width: 55rem;
            height: 35rem;
            transform-origin: 100% 50%;
            transform: rotateY(-20deg);
        }
    }


    &__title {
        --_margin-unit: 2.5rem;
        position: relative;

        @media (width >= $tablet-width) {
            font-size: 5.7rem;
            width: min-content;

            display: flex;
            flex-direction: column;
        }

        .word-one {
            margin-left: var(--_margin-unit);
        }

        .word-two {
            align-self: flex-end;
            margin-right: var(--_margin-unit);
            background: linear-gradient(
                90deg,
                hsl(300, 100%, 25%),
                hsl(240, 100%, 50%)
            );
            background-clip: text;
            color: transparent;
        }

        &::before {
            position: absolute;
            content: "";
            inset: 1rem;
            transform: translateZ(-1px);
            background: linear-gradient(
                -45deg,
                hsla(300, 100%, 25%, 0.207),
                hsl(240, 100%, 50%, 0.207)
            );
            filter: blur(3.5rem);
        }
    }
}
