
@use "../variables.scss" as *;

.profile-name-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--secondary-font);
    transform: perspective(1000px);
    transform-style: preserve-3d;

    @for $i from 0 to 8 {
        & .single-letter:nth-child(#{$i + 1}) {
            --letter-delay: #{100 * $i}ms;
        }
    }

    @media (min-width: $mobile) {
        & {
            font-size: 5rem;
            gap: 1.5rem;
        }
    }
    
    @media (min-width: $mobile) and (max-width: $tablet) {
        & {
            font-size: 3.5vw;
            gap: .75rem;
        }
    }
    
    .single-word {
        display: flex;
        transform-style: preserve-3d;
    }

    .single-letter {
        transform-style: preserve-3d;
        line-height: .9;
        opacity: 0;
        animation: single-letter 1000ms linear calc(var(--letter-delay) + var(--word-delay)) forwards;

        @keyframes single-letter {
            0% {
                opacity: 0;
                transform: rotateY(-70deg) translateZ(15rem) rotate(-90deg);
            }
            100% {
                opacity: 1;
                transform: rotateY(0) translateZ(0) rotate(0);
            }
        }
    }
}