
@use "../../variables" as *;

.profile-name {
    position: relative;
    isolation: isolate;
    display: flex;
    gap: var(--spacer-2);
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: var(--spacer-2);

    @media (width >= $mobile-width) {
        font-size: 5rem;
    }
    
    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
        font-size: 3rem;
    }

    &::before {
        position: absolute;
        content: "";
        inset: 2rem;
        background: linear-gradient(
            -45deg,
            hsla(300, 100%, 25%, 0.207),
            hsl(240, 100%, 50%, 0.207)
        );
        filter: blur(3.5rem);
        z-index: -1;
    }
}